
<div *ngIf="selectedfoodItem">
  <mat-card>
    <br> <br>
    <mat-card-content style="display:flex;justify-content: space-between">
    </mat-card-content>
  </mat-card>
  <mat-card style="margin-top:10px">
    <img mat-card-image [src]="selectedfoodItem.imageurl1" alt="xyz">
    <mat-card-content>
      <mat-card-title>{{selectedfoodItem.title}}</mat-card-title>
      <mat-card-subtitle style="color:#F4511E">{{selectedfoodItem.price}}</mat-card-subtitle>
      {{selectedfoodItem.description}}
    </mat-card-content>
  </mat-card>
  <div>
  </div>
</div>