<li><a routerLink="/fooditemlist" routerLinkActive="active">Fooditemlist</a></li>
<li><a routerLink="/addfooditem" routerLinkActive="active">Add Food Item</a></li>
<li><a routerLink="/modify" routerLinkActive="active">Modify</a></li>
<li><a routerLink="/user-profile" routerLinkActive="active">User</a></li>


<div>
    <mat-sidenav-container fullscreen>
        <!-- Primary ToolBar -->
        <!-- <app-toolbar *ngIf="showAppToolBar" (click)="sidenav.toggle()"></app-toolbar> -->

        <!-- Primary ToolBar -->
        <mat-toolbar *ngIf="showAppToolBar" class="mat-elevation-z4 top-toolbar" id="top-toobar">
            <div>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button> Foodz9
            </div>
            <div>
                <button mat-icon-button>
                    <mat-icon>shopping_cart</mat-icon>
                </button>
                <button mat-icon-button routerLink="/addnew">
                    <mat-icon>add_box</mat-icon>
                </button>
            </div>
        </mat-toolbar>

        <!-- SideNavBar -->
        <mat-sidenav #sidenav mode="over" [opened]="false" class="app-sidenav">

            <!-- UserProfile Card -->
            <app-user-profile></app-user-profile>

            <!-- SideNavListComponent -->
             <app-sidenav-list></app-sidenav-list> 
        </mat-sidenav>

        <!-- Router Outlet -->
        <router-outlet></router-outlet>
        <!-- Fab with Search icon -->
         <app-fab-action [fabAction]="fabAction"></app-fab-action> 
    </mat-sidenav-container>
</div>