.example-card {
  width: 300px;
}

.example-header-image {
  background-image: url('https://lh3.googleusercontent.com/-ci6pN531688/AAAAAAAAAAI/AAAAAAAAABc/fkulCh6H8q4/photo.jpg');
  background-size: cover;
}