<div *ngIf="_authService.appUser$ | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Foodz9, GUEST</h3>
  <p>Login to get started...</p>
  <mat-card width="300px">
    <mat-card-actions>
      <button mat-raised-button (click)="_authService.googleLogin()" color="primary">Sign In</button>
    </mat-card-actions>
  </mat-card>
</ng-template>
<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="_authService.appUser$ | async as user">
    <mat-card width="300px">
      <mat-card-header>
        <mat-card-title>Name: {{ user.displayName }}</mat-card-title>
        <mat-card-subtitle>Email: {{ user.email }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="user.photoURL">
      <mat-card-actions>
        <button mat-raised-button (click)="_authService.signOut()" color="primary">Logout</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>